<div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">

  <!-- SEARCH BAR -->
  <form class="d-flex search-bar" role="search" action="/listings" method="GET">
    <input class="form-control search-input" type="search" name="search" placeholder="Search location..." />
    <button class="search-btn" type="submit">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </form>

  <!-- NAV LINKS -->
  <div class="navbar-nav ms-3">
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/listings">All Listing</a>
    <a class="nav-link" href="/listings/new">Add new Listing</a>
  </div>

</div>