<nav class="navbar navbar-expand-md navbar-light bg-white border-bottom sticky-top shadow-sm">
  <div class="container">

    <!-- LOGO -->
    <a class="navbar-brand" href="/">
      <i class="fa-regular fa-compass"></i>
    </a>

    <!-- TOGGLE -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- MENU -->
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">

      <!-- SEARCH -->
      <form class="d-flex me-3" action="/listings" method="GET">
        <input class="form-control me-2" type="search" name="search" placeholder="Search...">
        <button class="btn btn-outline-danger" type="submit">Search</button>
      </form>

      <!-- LINKS -->
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/listings">All Listing</a>
        <a class="nav-link" href="/listings/new">Add new Listing</a>
      </div>

    </div>
  </div>
</nav>